<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add connectionString="Server=LAPTOP-QJAA410S\SQLEXPRESS;DataBase=HVACDB;Uid=kobe;Pwd=520" name="connString" />
  </connectionStrings>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
</configuration>